body {
  font-family: museo-sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #3a4651;
}

.btn {
  background-color: #43a6e7 !important;
  border-color: #43a6e7 !important;
}

.red-btn {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
